Package: com.susnm.WXHook
Name: WXHook
Version: 0.0-2
Description: a tweak for WeChat
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: susnm
dev: 
Homepage: https://github.com/susnmos/WXHook
Depiction:
Maintainer: susnm
Icon: 

