Package: com.susnm.WXHook
Name: WXHook
Version: 0.1.7
Description: A tweak for WeChat.微信小辅助
Section: Tweaks
Depends: firmware (>= 9.0), mobilesubstrate, net.angelxwind.karenlocalizer
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: susnm
dev: 
Homepage: https://github.com/susnmos/WXHook
Depiction:
Maintainer: susnm
Icon: 

